{% extends './layout.html' %}
{% block content %}
<form action='/users' method='POST'>
  <div id='user-input'>
    <label>Username</label>
    <br/>
    <input class='form-control' name='name' placeholder='Enter name for user'/>
  </div>
  <button id='create' class='btn btn-primary'>Create User</button>
</form>
  <ul class='list-group'>
    {% for user in users %}
      <li class='list-group-item'>
        <a href='users/{{user.id}}'>
          <div class='font-weight-bold'>
            {{ user.name }}
          </div>
        </a>
        <form method='POST' action='/users/{{user.id}}?_method=DELETE'>
          <button input='button' value='delete' class='btn btn-danger'>Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
